html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: none;
    background:rgb(0, 0, 0);
}
canvas {
    color: #d400ff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
span {
    color:#d400ff;
    bottom: 0px;
    position: absolute;
    right: 0px;
    display: none;
    font-size: 40pt;
    font-weight: bold;
    text-align: right;
    vertical-align: bottom;
    font-family: monospace;
    display:none;
}

.alert {
    padding: 20px;
      background-color: #000000;
      color: rgb(9, 255, 0);
      margin-bottom: 15px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      border: #1eff00;
      border-style: solid;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: rgb(0, 255, 21);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: rgb(255, 255, 255);
  }

  